html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-image: url("../images/marbleBG.jpg");
    background-color:#cccccc;
}
header {
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}
.header {
    width: 960px;
    margin: 0 auto;
}
nav {
    float: right;
    margin-top: 65px;
}
nav a {
    color: #777777;
    text-decoration: none;
    font-size: 12pt;
    padding: 18px 0px 18px 18px;
    margin: 18px 0px 18px 18px;
}
nav a:hover {
    border: 2px dashed #cccccc;
    color: #4aaaa5;
    padding: 10px;
    margin: 10px;
}
nav a:active {
    color: #777777;
    font-size: 90%;
    font-weight: bold;
}
.main {
    width: 960px;
    background: #ffffff;
    margin: 0 auto;
    margin-top: 130px;
}
h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    background: #4aaaa5;
    color: #ffffff;
    padding: 30px;
    width: fit-content;
    margin-bottom: 0;
}
h2 {
    color: #4aaaa5;
    padding-top: 30px;
    padding-left: 10px;
    margin-top: 30px;
    margin-left: 20px;
}
.portIcon {
    float: left;
    width: 34%;
    padding: 5px;
    position: relative;
}
#portIcons {
    margin-left: 20px;
}
.portIcon p {
    color: #ffffff;
    background: #4aaaa5;
    width: 280px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 5px;
    text-align: center;
}
.portIcon p:hover {
    background: rgb(74,170,165,.85);
    letter-spacing: 3px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.portIcon p:active {
    font-weight: bold;
}
.portIcon img {
    height: 200px;
    width: 280px;
}
#portIcons::after {
    content:"";
    display: block;
    clear: both;
}
.wrapper {
    min-height: 100%;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 68px;
}
#aboutMe img {
    float: left;
    margin: 10px 30px 10px 30px;
    border: 1px solid #4aaaa5;
}
#bio {
    padding: 0 15px 10px 15px;
    margin: 0 15px 10px 15px;
    line-height: 200%;
}
form {
    margin: 0 auto;
    width: 900px;
    height: 500px;
    font-size: 14px;
}
.main hr {
    width: 900px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #cccccc;
}
input, textarea {
    width: 100%;
    padding: 5px;
}
textarea {
    height: 250px;
}
form div {
    margin-top: 8px;
    margin-bottom: 8px;
}
#submit {
    width: 100px;
    height: 40px;
    background: #4aaaa5;
    color: #ffffff;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer {
    text-align: center;
    color: #cccccc;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    font-size: 10px;
    background: #666666;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 500;
    padding-top: 35px;
    margin-bottom: -35px;
}